*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.input-field-two {
  display: flex;
  flex-direction: column-reverse;
  width: 48%;
  margin: 24px 0 20px 0;
}

.input-field-three {
    display: flex;
    flex-direction: column-reverse;
    width: 31%;
    margin: 24px 0 20px 0;
  }

  .input-field-four {
    display: flex;
    flex-direction: column-reverse;
    width: 22%;
    margin: 24px 0 20px 0;
  }

.input-fields-wrapper-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-fields-wrapper-three {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-fields-wrapper-four {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.field-title{
    padding: 4px 0;
    background-color: rgba(224, 100, 51, 0.934);
    border-radius: 5px;
    box-shadow: 2px 4px 4px rgb(251, 249, 249);
}

h1{
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.787);
    text-align: center;
}

label{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.743);
    font-weight: 600;
}

input{
    padding: 6px 0 6px 0;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.69);
    border: none;
    outline: none;
    border-bottom: 2px solid gainsboro;
    background-color: transparent;
}

input:focus + label{
    color: rgb(4, 156, 221);
}

input:focus{
    border-color: rgb(4, 156, 221);
}

.textarea-one > textarea{
    width: 100%;
    border: 2px solid gainsboro;
}

.textarea-text-one{
    font-size: 14px;
    font-weight: 600;
    padding-top: 8px;
    padding-left: 10px;
    color: black;
    height: 120px;
    margin-top: 25px;
    background-color: transparent;
}

.select{
    padding: 2px 0;
    margin-top: 10px;
    outline: none;
    color: rgba(0, 0, 0, 0.668);
    font-weight: 500;
    background-color: transparent;
}

.browse{
    border: 1px solid gainsboro;
    padding: 0;
    border: none;
    border-bottom: 1px solid gainsboro;
    outline: none;
}

.payment{
    margin: 30px 0 10px 0;
}

.image{
    display: flex;
    justify-content: center;

}

.image > img{
    margin: 30px 0;
    border: 2px solid gainsboro;
    height: 60vh;
    border-radius: 8px;

}

.text-danger{
    font-size: 12px;
    color: rgba(232, 6, 6, 0.964);
    margin-top: 8px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Shop Front Photo';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #b4e2ed);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: bold;
    font-size: 10pt;
  }
  

  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  .custom-file-inputs::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-inputs::before {
    content: 'Payment Photo';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #b4e2ed);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }